/*详情页*/
.detail-describe{
  position: relative;
  padding:18px 14px;
  font-size: 15px;
  line-height: 18px;
  color:#4a4a4a;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}
.detail-money{
  color: #4a90e2;
  padding-right: 12%;
}
.detail-proname{
  width: 56%;
  display: inline-block;
  .text-overflow;
}
.col-line-nbd{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 13px;
  height: 54px;
  font-size: 16px;
  color: #4a4a4a;
  .img-retina("~images/arrow_down.png";19px;11px;96%;23px);
}

.content-list-text {
  padding: 0 13px;
  padding-bottom: 15px;
  line-height: 20px;
  font-size: 13px;
}
.col-bd{
  position: relative;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
  & .count-up{
    .img-retina("~images/arrow_up.png";19px;11px;96%;23px);
  }
}

/*保单填写页*/
.mation-top-tit{
  position: relative;
  padding: 12px 14px;
  font-size: 12px;
  line-height: 16px;
  background-color: #ddecff;
  color: #66a2d6;
}
.mation-top-enddate{
  padding: 18px 2px;
  font-size: 14px;
  color: #4a4a4a;
}
.checbox-waner{
  position: relative;
  height: 54px;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #4a4a4a;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}
.policy-error{
  height: 22px;
  padding: 16px 25px 0 25px;
  color: red;
}


/*报保险人编辑页*/
.bePeople-content{
  position: relative;
  padding: 24px 25px;
  background-color: #fff;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}

/*保障内容页*/
.guarantee-content{
  position: relative;
  padding: 24px 14px;
  background-color: #fff;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}
.guarantee-con-tit{
  padding-bottom:6px;
  font-size: 16px;
  line-height: 22px;
  color: #4a4a4a;
}
.guarantee-clauseList{
  position: relative;
  display: block;
  color: #333;
  padding: 14px 0;
  text-indent: 13px;
  background-color: #fff;
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}
.guarantee-clauseList-one{
  padding: 14px 0;
  text-indent: 13px;
  position: relative;
  color: #333;
  display: block;
  background-color: #fff;
  &::before{
    .bd-top(1px, #cbcbcb);
  }
  &::after{
    .bd-bottom(1px, #cbcbcb);
  }
}
.guarantee-con-info{
  font-size: 14px;
  line-height: 21px;
  color: #9b9b9b;
}

/*登录页*/
.login-err{
  padding: 10px 14px;
}
